/*Tienda*/
/*Contacto*/
body {
  font-family: 'Rajdhani', sans-serif;
  color: #01f2fa;
  background-color: #0e1e38;
  font-size: 25px; }

/*Tienda*/
/*Contacto*/
@media only screen and (max-width: 600px) {
  .body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; } }

@media only screen and (min-width: 600px) {
  .body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; } }

@media only screen and (min-width: 992px) {
  .body {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; } }

header {
  grid-area: header;
  background-image: url(../img/banner.webp);
  background-attachment: fixed;
  background-position: bottom;
  background-size: 2000px 1300px;
  background-repeat: no-repeat; }
  header nav {
    grid-area: nav; }
  header section {
    align-self: center;
    grid-area: title;
    color: #F27405;
    font-family: 'Orbitron', sans-serif;
    text-align: center; }
  @media only screen and (max-width: 600px) {
    header {
      display: flex;
      flex-direction: column; }
      header section {
        font-size: 1rem; } }
  @media only screen and (min-width: 600px) {
    header {
      display: grid;
      grid-template-areas: "nav nav" "logo title";
      grid-template-columns: 44% 56%;
      grid-template-rows: auto auto; } }
  @media only screen and (min-width: 992px) {
    header {
      display: grid;
      grid-template-areas: "nav nav" "logo title";
      grid-template-columns: 34% 66%;
      grid-template-rows: auto auto; } }

@media only screen and (max-width: 600px) {
  .logo {
    justify-self: center;
    grid-area: logo;
    max-width: 75%;
    margin-left: 15%; } }

@media only screen and (min-width: 600px) {
  .logo {
    justify-self: center;
    grid-area: logo;
    max-width: 100%;
    margin-left: 15%; } }

@media only screen and (min-width: 992px) {
  .logo {
    justify-self: center;
    grid-area: logo;
    max-width: 100%;
    margin-left: 15%; } }

.footer {
  grid-area: footer;
  background-image: url(../img/banner.webp);
  background-attachment: fixed;
  background-position: top;
  background-size: 2000px 1300px;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 600px) {
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer__info {
        color: white;
        font-size: 1.2rem;
        font-weight: bolder;
        margin-top: 10px; }
      .footer__lista {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-items: center; }
      .footer__item {
        color: inherit;
        width: 80%; }
      .footer__link {
        color: inherit; }
      .footer__img {
        margin-left: 35%;
        padding-bottom: 10%;
        max-width: 25%; } }
  @media only screen and (min-width: 600px) {
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer__info {
        margin-left: 10px;
        height: 50%;
        color: white;
        font-size: 1.4rem;
        font-weight: bolder; }
      .footer__lista {
        margin: 0;
        padding: 0;
        height: 90%;
        width: 50%;
        list-style-type: none;
        display: flex;
        justify-items: center;
        align-items: center; }
      .footer__item {
        color: inherit; }
      .footer__img {
        max-width: 30%; } }
  @media only screen and (min-width: 992px) {
    .footer {
      display: flex;
      justify-content: space-between;
      height: 100%; }
      .footer__info {
        height: 50%;
        color: white;
        font-size: 1.8rem;
        font-weight: bolder; }
      .footer__lista {
        max-width: 30%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
      .footer__item {
        color: inherit; }
      .footer__link {
        color: inherit; }
      .footer__img {
        width: 25%; } }

.mainIndex {
  grid-area: main; }
  @media only screen and (max-width: 600px) {
    .mainIndex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1rem;
      text-align: center; } }
  @media only screen and (min-width: 600px) {
    .mainIndex {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .mainIndex p {
        padding: 10px;
        text-align: center;
        font-size: 1.2rem; }
      .mainIndex img {
        max-width: 50%;
        height: auto; } }
  @media only screen and (min-width: 992px) {
    .mainIndex {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .mainIndex p {
        text-align: center;
        font-size: 1.7rem; }
      .mainIndex img {
        max-width: 50%;
        height: auto; } }

@media only screen and (max-width: 600px) {
  main {
    grid-area: main;
    display: flex;
    flex-direction: column; }
    main p {
      font-size: 1rem;
      padding: 10px;
      text-align: center; } }

@media only screen and (min-width: 600px) {
  main {
    grid-area: main;
    display: flex;
    flex-direction: column; }
    main p {
      font-size: 1.2rem;
      padding: 10px;
      text-align: center; }
    main div {
      max-width: 100%; } }

@media only screen and (min-width: 992px) {
  main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    main p {
      font-size: 1.5rem; }
    main div {
      width: 1000px; } }

.servicios {
  grid-area: main; }
  @media only screen and (max-width: 600px) {
    .servicios {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .servicios__articulo {
        width: 100%;
        padding: 10px; }
      .servicios__titulo {
        text-align: center;
        color: #F27405; }
      .servicios__texto {
        font-size: 1rem;
        text-align: center;
        max-width: 100%;
        height: 70%; }
      .servicios__img {
        max-width: 100%;
        align-self: flex-start;
        justify-self: flex-end; } }
  @media only screen and (min-width: 600px) {
    .servicios {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .servicios__articulo {
        width: 100%;
        padding: 10px; }
      .servicios__titulo {
        text-align: center;
        color: #F27405; }
      .servicios__texto {
        font-size: 1.2rem;
        text-align: center;
        max-width: 100%;
        height: 70%; }
      .servicios__img {
        max-width: 100%;
        align-self: flex-start;
        justify-self: flex-end; } }
  @media only screen and (min-width: 992px) {
    .servicios {
      display: grid;
      grid-template-areas: "notebooksPC imgNotebooksPC " "ventaEquipos imgVenta" "atencionDomicilio imgAtencion" "soporteEmpresas imgEmpresas" "soporteRedes imgRedes";
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto auto;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      .servicios__articulo {
        margin-top: 5%;
        width: 100%; }
      .servicios__titulo {
        text-align: center;
        color: #F27405; }
      .servicios__texto {
        font-size: 1.2rem;
        text-align: center;
        max-width: 100%;
        height: 70%; }
      .servicios__img {
        max-width: 100%;
        align-self: flex-start;
        justify-self: flex-end; } }

.tienda__link {
  text-decoration: none;
  color: white; }
  .tienda__link:hover {
    color: #ff7801a9; }
  .tienda__link--activo {
    color: #F27405; }

.tienda__producto {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .tienda__producto:hover {
    filter: saturate(230%); }

.tienda__titulo {
  color: #01f2fa; }
  .tienda__titulo--oferta {
    animation-name: oferta;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

.tienda__img {
  max-width: 60%; }

.tienda__precio {
  color: #01f2fa; }

.tienda__listaCtg {
  grid-area: categorias;
  background-color: rgba(255, 128, 0, 0.055); }

.tienda__ctg {
  margin: 10px 0 10px 0;
  font-weight: bolder;
  text-align: center; }

@media only screen and (max-width: 600px) {
  .tienda {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .tienda__img {
      max-width: 40%; }
    .tienda__listaCtg {
      justify-content: space-evenly;
      align-self: stretch;
      font-size: 1rem; } }

@media only screen and (min-width: 600px) {
  .tienda {
    grid-area: main;
    display: grid;
    grid-template-areas: "categorias categorias categorias" "producto1 producto2 producto3" "producto4 producto5 producto6" "producto7 producto8 producto9";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 10px; }
    .tienda__listaCtg {
      display: flex;
      justify-content: space-evenly; } }

@media only screen and (min-width: 992px) {
  .tienda {
    grid-area: main;
    display: grid;
    grid-template-areas: "categorias producto1 producto2 producto3" "categorias producto4 producto5 producto6" "categorias producto7 producto8 producto9";
    grid-template-columns: 13% auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px; }
    .tienda__listaCtg {
      grid-area: categorias;
      background-color: rgba(255, 128, 0, 0.055);
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: unset; }
    .tienda__ctg {
      margin: 10px 0 10px 0;
      font-weight: bolder;
      text-align: center; } }

/*Animacion*/
@keyframes oferta {
  from {
    color: #F27405; }
  to {
    color: #01f2fa; } }

.box, .formulario__inputNombre, .formulario__inputMail, .formulario__textBox {
  background-color: #0e1e38;
  color: #01f2fa;
  padding: 0px 10px 0px 10px;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, #f56a00 0%, black 51%, #00fffc 100%) 0.5; }

.button, .formulario__reset, .formulario__submit {
  margin: 10px;
  border-radius: 15px;
  border-style: inset;
  border-color: rgba(95, 158, 160, 0); }

.contacto {
  width: 75%;
  justify-self: center;
  text-align: center; }

.formulario {
  text-align: center; }
  .formulario ::placeholder {
    color: #01f2fa;
    filter: opacity(60%);
    text-align: center; }
  .formulario__nombre {
    grid-area: nombre; }
  .formulario__inputNombre {
    grid-area: inputNombre; }
  .formulario__mail {
    grid-area: mail; }
  .formulario__inputMail {
    grid-area: inputMail; }
  .formulario__textBox {
    grid-area: textBox; }
  .formulario__reset {
    grid-area: reset;
    background-color: #fd760062;
    color: white; }
  .formulario__submit {
    background-color: #F27405;
    color: white;
    grid-area: submit; }
  @media only screen and (max-width: 600px) {
    .formulario {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  @media only screen and (min-width: 600px) {
    .formulario {
      font-size: 1rem;
      align-self: center;
      display: grid;
      grid-template-areas: "nombre inputNombre" "mail inputMail" "textBox textBox" "reset submit";
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      width: 50%; } }
  @media only screen and (min-width: 992px) {
    .formulario {
      display: grid;
      width: 60%;
      grid-template-areas: "nombre inputNombre" "mail inputMail" "textBox textBox" "reset submit";
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      font-size: 1.5rem; } }

/*Tienda*/
/*Contacto*/
.box, .formulario__inputNombre, .formulario__inputMail, .formulario__textBox {
  background-color: #0e1e38;
  color: #01f2fa;
  padding: 0px 10px 0px 10px;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, #f56a00 0%, black 51%, #00fffc 100%) 0.5; }

.button, .formulario__reset, .formulario__submit {
  margin: 10px;
  border-radius: 15px;
  border-style: inset;
  border-color: rgba(95, 158, 160, 0); }
