$colorFondo:rgb(14, 30, 56);
$colorTitulo:#F27405;
$colorTexto:#01f2fa;
$colorTextoNav:white;
$colorHover:#ff7801a9; 
$colorTextoFooter:white;
/*Tienda*/
$colorCtg:rgba(255, 128, 0, 0.055);
$colorOferta:#F27405;
$colorAnimacion1:#F27405;
$colorAnimacion2:#01f2fa;
/*Contacto*/
$buttonSubmit:#F27405;
$buttonReset:#fd760062;







