

@media only screen and (max-width:600px){
    main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        p{
            font-size: 1rem;
            padding: 10px;
            text-align: center;
        }
    }
}
@media only screen and (min-width: 600px){
    main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        p{
            font-size: 1.2rem;
            padding: 10px;
            text-align: center;
        }
        div{
            max-width: 100%;
        }
    }
}
@media only screen and (min-width: 992px){
    main{
        grid-area: main;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        p{
            font-size: 1.5rem;
            


        
        }
        div{
            width: 1000px;
        }       


    }

}
