.footer{
    grid-area: footer;
    @media only screen and (max-width:600px){
        display: flex;
        flex-direction: column;
        align-items: center;
        &__info{
            color:$colorTextoFooter;
            font-size: 1.2rem;
            font-weight: bolder;
            margin-top: 10px;
            text-align: center;
        }
        &__lista{
            margin: 0;
            padding: 0;
            width: 100%;
            list-style-type: none;
            display: flex;
            justify-items: center;
        }
        &__item{
            color: inherit;
            width: 80%;
        }
        &__link{
            color: inherit;
        }
        &__img{
            margin-left: 35%;
            padding-bottom: 10%;
            max-width: 25%;
        }
    }
    @media only screen and (min-width: 600px){
        display: flex;
        justify-content: space-between;
        &__info{
            margin-left: 10px;
            height: 50%;
            color:$colorTextoFooter;
            font-size: 1.4rem;
            font-weight: bolder;
            align-self: center;
        }
        &__lista{
            max-width: 30%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        &__item{
            color: inherit;
        }
        &__img{
            width: 30px;
            margin: 0 25px 0 25px;
        }
    }    
    @media only screen and (min-width: 992px){
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        &__info{
           height: 70%;
           color:$colorTextoFooter;
           font-size: 1.8rem;
           font-weight: bolder;
           align-self: center;
           text-align: left;
        }
        &__lista{
            max-width: 30%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        &__item{
            color: inherit;
        }
        &__link{
            color: inherit;
        }
        &__img{
            width: 40px;
            margin: 0 40px 0 40px;
        }
    }    
}
